---

---

<div class="jumbotron jumb">
	<div class="container">
		<h1 class="title text-center">Damilola Odelola</h1>
		<div class="row text-center">
			<div class="col-xs-2"></div>
			<div class="col-xs-2"></div>
	  		<p class="col-xs-2"><a class="btn btn-default btn-lg" href="#" role="button">Writing</a></p>
	  		<p class="col-xs-2"><a class="btn btn-default btn-lg" href="#" role="button">Coding</a></p>
  		</div>
	</div>
</div>